name: Playwright Automation CI (Allure)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      test_type:
        description: "Choose tests to run: ui / api / both"
        required: true
        default: "both"
        type: choice
        options:
          - ui
          - api
          - both

permissions:
  contents: read
  actions: write

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.10]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: playwright install --with-deps

      - name: Run API tests
        if: ${{ github.event_name == 'workflow_dispatch' && (github.event.inputs.test_type == 'api' || github.event.inputs.test_type == 'both') || github.event_name != 'workflow_dispatch' }}
        env:
          API_BASE: ${{ secrets.API_BASE }}
        run: |
          pytest -m "api" --alluredir=allure-results || true

      - name: Run UI tests
        if: ${{ github.event_name == 'workflow_dispatch' && (github.event.inputs.test_type == 'ui' || github.event.inputs.test_type == 'both') || github.event_name != 'workflow_dispatch' }}
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          TEST_USER_EMAIL: ${{ secrets.TEST_USER_EMAIL }}
          TEST_USER_PASSWORD: ${{ secrets.TEST_USER_PASSWORD }}
        run: |
          pytest -m "ui" --alluredir=allure-results || true

      - name: Generate Allure report
        uses: simple-elf/allure-report-with-history@v1.13
        if: always()
        with:
          allure_results: 'allure-results'
          gh_pages: 'gh-pages'

      - name: Upload Allure report artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report

      - name: Upload raw Allure results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
